<div class="row p-md">
	<div class="col-md-12">
        <table class="table table-striped table-bordered nowrap" id="tabExpenses" style="width: 100%">
			<thead>
				<tr>
					<th>Description</th>
					<th>Expense Date</th>
					<th>Total</th>
					<th>Expenditure Item</th>
				</tr>
			</thead>
			<tbody>

				{% set total = 0 %}
				{% for expense in expenses %}

					<tr>
						<td> {{ expense.exp_description }} </td>
						<td> {{ funciones.cambiaf_a_normal(expense.exp_date) }} </td>
						<td> {{ "$ " ~ funciones.number_format(expense.total) }} </td>
						<td> {{ expense.con_name }} </td>
					</tr>

					{% set total = total + expense.total %}
				{% endfor %}

			</tbody>
		</table>
		<span id="total" class="hide"> {{ funciones.number_format(total) }} </span>
	</div>
</div>