label.required:before {
	color: #dd191d;
	content: "*";
	display: block;
	float: left;
	margin: -6px 3px 0 0;
}

/* Preloader */
#preloader {
	position: fixed;
	top:0; left:0;
	right:0; bottom:0;
	background: #ffffff;
	z-index: 1201;
}

#page-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 200px;
	height: 200px;
	background: transparent url(../../img/loading.svg) center no-repeat;
	margin: -75px 0 0 -75px;
}

/********************************/

/* Preloader pdf */
#preloader-pdf {
	position: fixed;
	top:0; left:0;
	right:0; bottom:0;
	background: #000000;
	opacity: 0.5;
	z-index: 1201;
}

#page-loader-pdf {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 200px;
	height: 200px;
	background: transparent url(../../img/loading-pdf.svg) center no-repeat;
	margin: -75px 0 0 -75px;
}

/********************************/

div.DTTT .btn {
	margin: 7px 0 !important;
}

.tt-suggestion > p {
	cursor: pointer;
}

.cur-pointer, .tcur-pointer tbody tr {
    cursor: pointer !important;
}

.fs-12 {
	font-size: 12px !important;
}

.fs-20 {
	font-size: 20px !important;
}

/* Fullcalendar */
.fc-dd {
	color: #dd191d !important;
}

.fc-day {
	border: 1px solid #eeeeee !important;
}

.fc-day-header {
	background: #fafafa;
}

.fc-other-month.fc-future {
	background: #f5f5f5 !important;
}

td.fc-today {
	background: none !important;
}

.fc-left {
	font-size: 11px !important;
	margin-top: 4px;
}

.fc-prev-button, .fc-prevYear-button {
	padding: 3px 8px 3px 8px !important;
	border-top-right-radius: 0px;
}

.fc-next-button, .fc-nextYear-button {
	padding: 3px 8px 3px 8px !important;
	border-top-left-radius: 0px;
}

.fc-event {
	border: 1px solid transparent !important;
}

.fc-title {
	font-family: 'Open Sans Semibold' !important;
}

/********************************/

/* Fuentes */
@font-face {
	font-family: 'Open Sans Regular';
	src: url(../fonts/open-sans-regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url(../fonts/open-sans-semibold.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans Light';
	src: url(../fonts/open-sans-light.ttf) format('truetype');
}

/********************************/

.panel .panel-heading h2 {
	color: #000000 !important;
}

.sidebar nav.widget-body > ul.acc-menu li a {
	color: #ffffff !important;
}

.sidebar nav.widget-body > ul.acc-menu > li > a > i, .nav-separator, .welcome-text, .name {
	color: #ffffff !important;
}

.breadcrumb {
	font-family: 'Open Sans Semibold' !important;
}

#conDate::-moz-placeholder {
	font-size: 13px;
}

#conDate:-ms-input-placeholder {
	font-size: 13px;
}

#conDate::-webkit-input-placeholder {
	font-size: 13px;
}

.fs-16 {
    font-size: 16px !important;
}

.select2-choice {
	color: #000 !important;
}

.mt18 {
	margin-top: 18px !important;
}

.mt2n {
	margin-top: -2px !important;
}

.mt6n {
	margin-top: -6px !important;
}

.tab-content {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#status, #contract {
	font-weight: normal !important;
}

#contract small {
	display: block !important;
}

#linContract i, #linPayments i {
	font-weight: bold !important;
}

.col-009 {
	color: #009688;
}

.col-e91 {
	color: #e91e63;
}

.col-8bc {
	color: #8bc34a;
}

.info-tile .tile-body {
	font-size: 16px !important;
}

.info-tile .tile-body i {
	font-size: 14px !important;
}

a.info-tile {
	margin-bottom: 20px !important;
}

.mt9-5 {
	margin-top: 9.5px !important;
}

.notifit_confirm_bg {
	z-index: 1251 !important;
}

.notifit_confirm {
	z-index: 1252 !important;
}

/*.fc-view {
	z-index: 0 !important;
}*/

.fc-row {
	z-index: 0 !important;
}

.fc-more-popover {
	z-index: 1 !important;
}

.btn-label-custom {
    left: 0 !important;
    width: auto !important;
    padding: 4px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.fc-content {
	text-align: center !important;
}

.panel .fc-event {
	padding: 2px 2px !important;
	margin: 4px 4px !important;
}

.fc table {
	font-size: 14px !important
}

.fc-row .fc-bg {
	background-color: #fff;
}

.fc-day-grid-event {
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(153, 153, 153, .4);
}

.pl36 {
	padding-left: 36px !important;
}

.pr36 {
	padding-right: 36px !important;
}

.background {
	background-image: url(../../img/fondo.jpg) !important;
}

.sidebar nav.widget-body > ul.acc-menu li.active {
	font-family: 'Open Sans Semibold' !important;
}

.lh0 {
	line-height: 0 !important;
}

ol.calendar {
	padding-left: 20px;
}

ol.calendar li {
	font-size: 10px;
}

.fc-today-button:before {
	content: "Today";
}

.fc-center h2 {
	font-size: 24px !important;
}

@media (max-width: 800px) {
	.pagination {
		float: none !important;
	}
	.dataTables_paginate, .dataTables_info {
		text-align: center;
	}
}

@media (max-width: 767px) { 
	.center-block { 
		float: none !important; 
	}
	.options {
		margin-top: 16px;
	}
	.fc-center h2 {
		font-size: 20px !important;
		line-height: 0;
	}
	.fc-today-button:before {
		content: "T";
	}
	.pagination {
		float: none !important;
	}
	.dataTables_paginate, .dataTables_info, .total {
		text-align: center;
	}
}

@media (max-width: 320px) { 
	.fc-center h2 {
		font-size: 16px !important;
		line-height: 0;
	}
}

.table > tbody > tr.active > td {
	background-color: #e0f7fa;
}

.select .icheckbox_minimal-red {
	margin-left: 40% !important;
}

.dd-list {
	list-style-type: decimal !important;
}

.dd-item {
	display: list-item !important;
}

table.dataTable {
	margin-top: 0 !important;
}

div.table-responsive>div.dataTables_wrapper>div.row {
	display: none;
}