.label {
  padding: 0.225em 0.3em;
  font-family: 'Open Sans Semibold' !important;
  border-radius: 1px;
  font-size: 85%;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}
.input-group-addon {
  background-color: #f7f7f7 !important;
  padding: 7px 10px 5px;
  min-width: 40px;
  color: #455a64;
}
.input-group-btn > .btn + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
}
.input-group .form-control {
  z-index: 0;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 0;
}
.input-group-btn:last-child > .btn + .btn,
.input-group-btn:last-child > .btn-group + .btn,
.input-group-btn:last-child > .btn + .btn-group,
.input-group-btn:last-child > .btn-group + .btn-group {
  margin-left: -1px;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.sidebar-midnightblue.static-sidebar-wrapper,
.sidebar-midnightblue.fixed-sidebar-wrapper {
  background: #37474f;
}
.sidebar-midnightblue .sidebar .widget .widget-heading,
.sidebar-midnightblue .nav-separator {
  border-top: 1px solid #263238;
  color: #b0bec5;
  background: #37474f;
}
.sidebar-midnightblue .sidebar .widget .widget-body {
  color: #78909c;
  background: #37474f;
}
.sidebar-midnightblue .sidebar .widget .widget-body h1,
.sidebar-midnightblue .sidebar .widget .widget-body h2,
.sidebar-midnightblue .sidebar .widget .widget-body h3,
.sidebar-midnightblue .sidebar .widget .widget-body h4,
.sidebar-midnightblue .sidebar .widget .widget-body h5,
.sidebar-midnightblue .sidebar .widget .widget-body h6 {
  color: #78909c;
}
.sidebar-midnightblue .sidebar .widget .widget-block {
  border-bottom: 1px solid #263238;
  color: #78909c;
}
.sidebar-midnightblue .sidebar .widget .widget-block h1,
.sidebar-midnightblue .sidebar .widget .widget-block h2,
.sidebar-midnightblue .sidebar .widget .widget-block h3,
.sidebar-midnightblue .sidebar .widget .widget-block h4,
.sidebar-midnightblue .sidebar .widget .widget-block h5,
.sidebar-midnightblue .sidebar .widget .widget-block h6 {
  color: #78909c;
}
.sidebar-midnightblue .sidebar .widget .widget-block .big {
  color: #cfd8dc;
}
.sidebar-midnightblue .sidebar .contextual-progress {
  border-bottom: 1px solid #263238;
}
.sidebar-midnightblue .sidebar .contextual-progress .progress-title,
.sidebar-midnightblue .sidebar .contextual-progress .progress-title a,
.sidebar-midnightblue .sidebar .contextual-progress .progress-percentage {
  color: #90a4ae;
}
.sidebar-midnightblue .sidebar .contextual-progress .progress-title a:hover {
  color: #cfd8dc;
}
.sidebar-midnightblue .sidebar .contactdetails .contact-status {
  font-size: 11px;
  color: #78909c;
}
.sidebar-midnightblue .sidebar .contactdetails .contact-name {
  color: #cfd8dc;
}
.sidebar-midnightblue .sidebar .contactdetails ul.details li {
  background: #263238;
  color: #90a4ae;
}
.sidebar-midnightblue .sidebar .contactdetails ul.details li:hover {
  color: #cfd8dc;
}
.sidebar-midnightblue .sidebar .welcome-box .name {
  color: #cfd8dc;
}
.sidebar-midnightblue #search form .search-query {
  background: #37474f;
  color: #78909c;
}
.sidebar-midnightblue #search form .search-query::-moz-placeholder {
  color: rgba(120, 144, 156, 0.5);
  opacity: 1;
}
.sidebar-midnightblue #search form .search-query:-ms-input-placeholder {
  color: rgba(120, 144, 156, 0.5);
}
.sidebar-midnightblue #search form .search-query::-webkit-input-placeholder {
  color: rgba(120, 144, 156, 0.5);
}
.sidebar-midnightblue #search form .search-query:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.sidebar-midnightblue #search form .search-query:focus:-ms-input-placeholder {
  color: transparent;
}
.sidebar-midnightblue #search form .search-query:focus::-webkit-input-placeholder {
  color: transparent;
}
.sidebar-midnightblue #search form .search-query:focus + button i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.sidebar-midnightblue #search form .search-query,
.sidebar-midnightblue #search form .search-query:active,
.sidebar-midnightblue #search form .search-query:focus {
  border: none;
}
.sidebar-midnightblue #search form button[type="submit"] i {
  color: #78909c;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sidebar-midnightblue .search-toggler i {
  color: #78909c;
}
.sidebar-midnightblue #sidebar-search form input[type='text'] {
  background: #37474f;
  color: #cfd8dc;
}
.sidebar-midnightblue #sidebar-search form input[type='text']::-moz-placeholder {
  color: #78909c;
  opacity: 1;
}
.sidebar-midnightblue #sidebar-search form input[type='text']:-ms-input-placeholder {
  color: #78909c;
}
.sidebar-midnightblue #sidebar-search form input[type='text']::-webkit-input-placeholder {
  color: #78909c;
}
.sidebar-midnightblue .jstree .jstree-container-ul li a.jstree-anchor {
  color: #90a4ae;
}
.sidebar-midnightblue .jstree .jstree-container-ul li a.jstree-anchor:hover {
  color: #cfd8dc;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu .divider,
.sidebar-midnightblue nav.widget-body > ul.acc-menu .divider:hover {
  background-color: #263238;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu ul,
.sidebar-midnightblue nav.widget-body > ul.acc-menu ul li a {
  background: #2c3a41;
  color: #90a4ae;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu li a {
  color: #90a4ae;
  background: #37474f;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu > li:hover > a {
  background-color: #455a64;
  color: #cfd8dc;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu > li:hover > a i {
  color: #cfd8dc;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu > li.active > a {
  background: #263238;
  color: #ffffff;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu > li > a > i {
  color: #78909c;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu > li > a:hover > i {
  color: #cfd8dc;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu > li.active > a > i,
.sidebar-midnightblue nav.widget-body > ul.acc-menu > li.active > a:hover > i {
  color: #ffffff;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu ul li a {
  border-top: 1px solid transparent;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu ul li a:hover {
  background-color: #37474f;
  color: #cfd8dc;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu ul li.active:not(.open) > a {
  color: #ffffff;
}
.sidebar-midnightblue nav.widget-body > ul.acc-menu li.disabled-link a {
  color: #b0bec5;
}
#headernav.navbar-midnightblue {
  background: #37474f;
}
#headernav.navbar-midnightblue .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  background: #37474f;
}
#headernav.navbar-midnightblue .navbar-nav > .open > a,
#headernav.navbar-midnightblue .navbar-nav > .open > a i {
  background: #455a64;
  color: #cfd8dc;
}
#headernav.navbar-midnightblue .navbar-nav ul {
  background-color: #2c3a41;
  border: none;
  border-radius: 0px;
}
#headernav.navbar-midnightblue .navbar-nav ul li a {
  color: #90a4ae;
}
#headernav.navbar-midnightblue .navbar-nav ul li a:hover {
  background: #37474f;
  color: #cfd8dc;
}
#headernav.navbar-midnightblue .navbar-nav li a {
  color: #90a4ae;
}
#headernav.navbar-midnightblue .navbar-nav li a i {
  color: #90a4ae;
}
#headernav.navbar-midnightblue .navbar-nav li.active a,
#headernav.navbar-midnightblue .navbar-nav li.active a i,
#headernav.navbar-midnightblue .navbar-nav li.active a:hover,
#headernav.navbar-midnightblue .navbar-nav li.active a:hover i {
  background-color: #263238;
  color: #ffffff;
}
#headernav.navbar-midnightblue .navbar-nav li a:hover,
#headernav.navbar-midnightblue .navbar-nav li a:hover i {
  background: #455a64;
  color: #cfd8dc;
}
#headernav.navbar-midnightblue .navbar-nav li a:focus,
#headernav.navbar-midnightblue .navbar-nav li a:focus i {
  background: #455a64;
  color: #cfd8dc;
}
#headernav.navbar-midnightblue .navbar-nav li i {
  margin-right: 2px;
}
#headernav.navbar-midnightblue .navbar-toggle,
#headernav.navbar-midnightblue .navbar-toggle:hover,
#headernav.navbar-midnightblue .navbar-toggle:focus {
  background: transparent;
  color: #90a4ae;
  border: none;
}
#topnav.navbar-midnightblue {
  background-color: #455a64;
  border-color: #263137;
}
#topnav.navbar-midnightblue .navbar-brand {
  color: #eceff1;
}
#topnav.navbar-midnightblue .navbar-brand:hover,
#topnav.navbar-midnightblue .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
#topnav.navbar-midnightblue .toolbar-trigger a {
  color: #90a4ae;
}
#topnav.navbar-midnightblue .toolbar-trigger a span.icon-bg {
  background-color: rgba(144, 164, 174, 0.1) !important;
}
#topnav.navbar-midnightblue .toolbar-trigger a span.icon-bg:hover {
  background-color: #37474f !important;
  color: #cfd8dc;
}
#topnav.navbar-midnightblue .toolbar-icon-bg > a:hover,
#topnav.navbar-midnightblue .toolbar-icon-bg > a:focus,
#topnav.navbar-midnightblue .toolbar-icon-bg > a.active,
#topnav.navbar-midnightblue .navbar-nav > .toolbar-icon-bg.open > a {
  background-color: #455a64 !important;
}
#topnav.navbar-midnightblue .toolbar-icon-bg.open > a span.icon-bg {
  background-color: rgba(144, 164, 174, 0.15) !important;
}
#topnav.navbar-midnightblue .toolbar-icon-bg.open > a span.icon-bg:hover {
  background-color: #37474f !important;
}
#topnav.navbar-midnightblue .toolbar.pull-right li.toolbar-icon-bg > a span.icon-bg {
  background-color: rgba(144, 164, 174, 0.1) !important;
}
#topnav.navbar-midnightblue .toolbar.pull-right li.toolbar-icon-bg:hover span.icon-bg {
  background-color: #37474f !important;
}
#topnav.navbar-midnightblue .navbar-text {
  color: #728f9d;
}
#topnav.navbar-midnightblue.navbar .navbar-collapse {
  border-color: #263137;
}
#topnav.navbar-midnightblue.navbar .navbar-collapse .open .dropdown-menu {
  background-color: #263238;
}
#topnav.navbar-midnightblue.navbar .navbar-collapse .open .dropdown-menu li a {
  color: #90a4ae;
}
#topnav.navbar-midnightblue.navbar .navbar-collapse .open .dropdown-menu li a:hover,
#topnav.navbar-midnightblue.navbar .navbar-collapse .open .dropdown-menu li a:focus {
  background-color: #263238;
  color: #cfd8dc;
}
#topnav.navbar-midnightblue.navbar .navbar-collapse .open .dropdown-menu .divider {
  border-bottom: 1px solid #37474f;
}
#topnav.navbar-midnightblue .navbar-nav > li > a {
  color: #90a4ae;
}
#topnav.navbar-midnightblue .navbar-nav > li > a:hover,
#topnav.navbar-midnightblue .navbar-nav > li > a:focus {
  color: #cfd8dc;
  background-color: #37474f;
}
#topnav.navbar-midnightblue .navbar-nav > .active > a,
#topnav.navbar-midnightblue .navbar-nav > .active > a:hover,
#topnav.navbar-midnightblue .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #263238;
}
#topnav.navbar-midnightblue .navbar-nav > .disabled > a,
#topnav.navbar-midnightblue .navbar-nav > .disabled > a:hover,
#topnav.navbar-midnightblue .navbar-nav > .disabled > a:focus {
  color: #5a7582;
  background-color: transparent;
}
#topnav.navbar-midnightblue .navbar-nav > .open > a,
#topnav.navbar-midnightblue .navbar-nav > .open > a:hover,
#topnav.navbar-midnightblue .navbar-nav > .open > a:focus {
  background-color: #263238;
  color: #ffffff;
}
#topnav.navbar-midnightblue .dropdown-menu,
@media (max-width: 768px+1) {
  #topnav.navbar-midnightblue .dropdown-menu,
  #topnav.navbar-midnightblue .yamm .dropdown-menu {
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
}
#topnav.navbar-midnightblue .dropdown-menu li a,
#topnav.navbar-midnightblue .yamm .dropdown-menu li a {
  color: #90a4ae;
}
#topnav.navbar-midnightblue .dropdown-menu li a:hover,
#topnav.navbar-midnightblue .yamm .dropdown-menu li a:hover,
#topnav.navbar-midnightblue .dropdown-menu li a:focus,
#topnav.navbar-midnightblue .yamm .dropdown-menu li a:focus {
  background-color: #263238;
  color: #cfd8dc;
}
#topnav.navbar-midnightblue .dropdown-menu .divider,
#topnav.navbar-midnightblue .yamm .dropdown-menu .divider {
  border-bottom: 1px solid #37474f;
}
html {
  position: relative;
  min-height: 100px;
}
html,
body {
  height: 100%;
}
.navbar-fixed-top + #wrapper,
.navbar-fixed-top + #layout-fixed {
  padding-top: 48px !important;
}
.navbar-fixed-top {
  width: 100%;
  position: fixed !important;
}
#wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
  height: 100%;
  position: relative;
}
#layout-static {
  display: table-row;
  height: 100%;
}
.static-sidebar-wrapper {
  display: table-cell;
  overflow: hidden;
}
.static-sidebar-wrapper,
.static-sidebar {
  width: 248px;
}
.static-content-wrapper {
  display: table-cell;
}
.static-sidebar-wrapper,
.static-content-wrapper {
  vertical-align: top;
}
footer {
  background: #eeeeee;
  padding: 5px 24px;
}
footer ul {
  margin: 0;
}
#layout-fixed {
  height: 100%;
}
#layout-fixed .ui-layout-pane {
  overflow: hidden !important;
}
.page-content {
  padding: 0 12px;
}
@media (max-width: 767px) {
  .page-content {
    padding: 0;
  }
}
.fixed-content {
  min-height: 100%;
  margin-bottom: -32px;
}
.fixed-content:after {
  content: "";
  display: block;
}
.fixed-content + footer,
.fixed-content:after {
  height: 32px;
}
.fixed-content + footer {
  position: relative;
}
.static-content-wrapper {
  position: relative;
}
.static-content {
  margin-bottom: 32px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
}
footer h6 {
  font-family: 'Open Sans Regular';
  font-size: 11px;
  text-transform: uppercase;
}
#back-to-top {
  color: #455a64;
}
body.sidebar-hideon-collpase.sidebar-collapsed .static-sidebar-wrapper {
  display: none;
}
body.sidebar-hideon-collpase .static-sidebar-wrapper {
  display: table-cell;
}
.page-heading {
  background: #f5f5f5;
  padding: 24px;
  margin: 0 -12px 24px;
}
.page-heading h1 {
  float: left;
  margin: 0;
  line-height: 32px;
  font-family: 'Open Sans Regular';
  font-size: 24px;
}
.page-heading .options {
  float: right;
}
.page-content > .breadcrumb {
  border: 0 !important;
  margin: 0px -12px 24px;
  padding: 8px 24px;
  display: inherit;
  background: #f5f5f5;
  border-radius: 0;
}
.page-content > .breadcrumb > li {
  font-size: 11px;
  line-height: 16px;
}
.page-content > .breadcrumb > li:before {
  color: #cfd8dc;
}
.page-content > .page-heading + .breadcrumb {
  margin-top: -24px;
}
.page-content > .breadcrumb + .page-heading {
  margin-top: -24px;
}
.navbar-brand {
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
  background: url("") no-repeat top left;
  height: 48px;
  width: 200px;
  padding: 16px !important;
}
#topnav .navbar-brand {
  background: url(../../img/logo.png) no-repeat 0px;
}
body.topnav-collapsed #topnav .navbar-brand {
  /*background: url("../../img/logo.png") no-repeat -40px top;*/
}
@media print {
  .static-sidebar-wrapper,
  .infobar-wrapper,
  .demo-options,
  .page-heading,
  .page-content > .breadcrumb,
  footer {
    display: none;
  }
}
body.topnav-collapsed header.navbar .navbar-brand {
  width: 150px;
}
body.topnav-collapsed header.navbar .navbar-collapse {
  width: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  clear: both;
  border-top-width: 1px;
  border-top-style: solid;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.02) !important;
}
body.topnav-collapsed header.navbar .navbar-collapse.collapse {
  display: none !important;
}
body.topnav-collapsed header.navbar .navbar-collapse.collapse.in {
  display: block !important;
}
body.topnav-collapsed header.navbar .navbar-collapse.in {
  overflow-y: auto !important;
  overflow-x: hidden;
}
.navbar-fixed-top body.topnav-collapsed header.navbar .navbar-collapse,
.navbar-static-top body.topnav-collapsed header.navbar .navbar-collapse,
.navbar-fixed-bottom body.topnav-collapsed header.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
body.topnav-collapsed header.navbar .navbar-collapse .navbar-nav {
  margin: 0;
}
body.topnav-collapsed header.navbar .navbar-collapse .navbar-nav,
body.topnav-collapsed header.navbar .navbar-collapse .navbar-nav > li {
  float: none !important;
}
body.topnav-collapsed header.navbar .navbar-collapse .open .dropdown-menu {
  position: static;
  float: none;
  width: auto !important;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
body.topnav-collapsed header.navbar .navbar-collapse .open .dropdown-menu > li > a,
body.topnav-collapsed header.navbar .navbar-collapse .open .dropdown-menu .dropdown-header {
  padding: 5px 15px 5px 25px;
}
body.topnav-collapsed header.navbar .navbar-collapse .open .dropdown-menu > li > a {
  padding: 5px 20px !important;
  line-height: 20px;
}
body.topnav-collapsed header.navbar .navbar-collapse .open .dropdown-menu > li > a:hover,
body.topnav-collapsed header.navbar .navbar-collapse .open .dropdown-menu > li > a:focus {
  background-image: none;
}
.full-height-content .scroll-content {
  padding-right: 15px;
}
html.full-page-image,
html.full-page-image body {
  height: 99%;
}
.focused-form .login-logo {
  text-align: center;
  display: block;
  margin-top: 120px;
  margin-bottom: 50px;
}
nav.navbar {
  margin-bottom: 0;
}
#topnav {
  margin-bottom: 0px;
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}
#topnav .dropdown-menu > li > a {
  padding: 6px 16px !important;
}
#topnav .navbar-nav .open .dropdown-menu {
  position: absolute;
}
#topnav .navbar-nav .dropdown-toggle {
  font-size: 13px;
}
#topnav .navbar-nav.toolbar {
  margin: 0;
}
#topnav .navbar-nav.toolbar > li {
  float: left;
  margin-right: 8px;
}
#topnav .navbar-nav.toolbar > li:last-child {
  margin-right: 0;
}
#topnav .navbar-nav.toolbar > li > a {
  padding: 14px 16px;
}
#topnav #trigger-sidebar a {
  float: left;
}
#topnav #trigger-infobar a {
  float: right;
}
#topnav .toolbar-trigger a {
  padding: 8px;
}
#topnav .toolbar-trigger a span.icon-bg {
  display: block;
  border-radius: 2px;
  height: 32px;
  width: 32px;
  padding: 6px;
  font-size: 15px;
  text-align: center;
}
#topnav .toolbar.pull-right li.toolbar-icon-bg > a {
  padding: 8px 0;
}
#topnav .toolbar.pull-right li.toolbar-icon-bg > a span.icon-bg {
  display: block;
  border-radius: 2px;
  padding: 6px;
  font-size: 15px;
  text-align: center;
  height: 32px;
  width: 32px;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate {
  background: #fff !important;
  color: #607d8b !important;
  padding: 0;
  z-index: 1300;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
  border: 1px solid #e0e0e0;
  width: 298px;
}
@media (max-width: 480px) {
  #topnav .toolbar .dropdown-menu.dropdown-alternate {
    width: 298px !important;
  }
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header,
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-footer {
  line-height: 16px;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header a,
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-footer a {
  color: #03a9f4;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header {
  padding: 8px 12px;
  font-size: 11px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header:before,
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header:after {
  content: " ";
  display: table;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header:after {
  clear: both;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header:before,
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header:after {
  content: " ";
  display: table;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header:after {
  clear: both;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header span:first-child {
  float: left !important;
  font-family: 'Open Sans Regular';
  text-transform: uppercase;
  letter-spacing: 2px;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header span:last-child {
  float: right !important;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header span:last-child a {
  padding: 0 !important;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header a {
  background: none !important;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-header a:hover {
  color: #03a9f4;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .dd-footer {
  font-size: 11px;
  padding: 8px 12px;
  text-align: right;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
}
#topnav .toolbar .dropdown-menu.dropdown-alternate ul {
  padding-left: 0;
  list-style: none;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .scrollthis {
  width: 296px;
  height: 288px;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .scrollthis li a {
  display: block;
  text-decoration: none;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .scroll-content a {
  white-space: normal;
  color: #455a64 !important;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .scroll-content a.active,
#topnav .toolbar .dropdown-menu.dropdown-alternate .scroll-content a:hover {
  color: #455a64 !important;
  background-color: #000000 !important;
  background-color: rgba(0, 0, 0, 0.02) !important;
  zoom: 1 !important;
  background-color: transparent\9 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#05000000, endColorstr=#05000000)" !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#05000000, endColorstr=#05000000) !important;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.02), 0 -1px 0 0 rgba(0,0,0,0.02);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.02), 0 -1px 0 0 rgba(0,0,0,0.02);
}
#topnav .toolbar .dropdown-menu.dropdown-alternate .scroll-content a.active .time,
#topnav .toolbar .dropdown-menu.dropdown-alternate .scroll-content a:hover .time {
  color: #90a4ae;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate li {
  border-bottom: 1px solid #eeeeee;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate li .time {
  color: #cfd8dc;
  font-size: 11px;
  white-space: nowrap;
  text-align: right;
  vertical-align: top;
}
#topnav .toolbar .dropdown-menu.dropdown-alternate li a:focus {
  background-color: #fff !important;
}
#topnav .toolbar .dropdown-menu.notifications ul li,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li {
  width: 100%;
}
#topnav .toolbar .dropdown-menu.notifications ul li .notification-success .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li .notification-success .notification-icon {
  background: #f1f8e9;
  border-color: #f1f8e9;
  color: #8bc34a;
}
#topnav .toolbar .dropdown-menu.notifications ul li .notification-primary .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li .notification-primary .notification-icon {
  background: #e1f5fe;
  border-color: #e1f5fe;
  color: #03a9f4;
}
#topnav .toolbar .dropdown-menu.notifications ul li .notification-danger .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li .notification-danger .notification-icon {
  background: #fde0dc;
  border-color: #fde0dc;
  color: #e51c23;
}
#topnav .toolbar .dropdown-menu.notifications ul li .notification-warning .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li .notification-warning .notification-icon {
  background: #fffde7;
  border-color: #fffde7;
  color: #ffeb3b;
}
#topnav .toolbar .dropdown-menu.notifications ul li .notification-inverse .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li .notification-inverse .notification-icon {
  background: #fafafa;
  border-color: #fafafa;
  color: #9e9e9e;
}
#topnav .toolbar .dropdown-menu.notifications ul li .notification-info .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li .notification-info .notification-icon {
  background: #e0f7fa;
  border-color: #e0f7fa;
  color: #00bcd4;
}
#topnav .toolbar .dropdown-menu.notifications ul li .notification-midnightblue .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li .notification-midnightblue .notification-icon {
  background: #eceff1;
  border-color: #eceff1;
  color: #37474f;
}
#topnav .toolbar .dropdown-menu.notifications ul li:hover .notification-success .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li:hover .notification-success .notification-icon {
  background: #8bc34a !important;
  border-color: #8bc34a;
  color: #fff;
}
#topnav .toolbar .dropdown-menu.notifications ul li:hover .notification-primary .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li:hover .notification-primary .notification-icon {
  background: #03a9f4 !important;
  border-color: #03a9f4;
  color: #fff;
}
#topnav .toolbar .dropdown-menu.notifications ul li:hover .notification-danger .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li:hover .notification-danger .notification-icon {
  background: #e51c23 !important;
  border-color: #e51c23;
  color: #fff;
}
#topnav .toolbar .dropdown-menu.notifications ul li:hover .notification-warning .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li:hover .notification-warning .notification-icon {
  background: #ffeb3b !important;
  border-color: #ffeb3b;
  color: #fff;
}
#topnav .toolbar .dropdown-menu.notifications ul li:hover .notification-inverse .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li:hover .notification-inverse .notification-icon {
  background: #9e9e9e !important;
  border-color: #9e9e9e;
  color: #fff;
}
#topnav .toolbar .dropdown-menu.notifications ul li:hover .notification-info .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li:hover .notification-info .notification-icon {
  background: #00bcd4 !important;
  border-color: #00bcd4;
  color: #fff;
}
#topnav .toolbar .dropdown-menu.notifications ul li:hover .notification-midnightblue .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li:hover .notification-midnightblue .notification-icon {
  background: #37474f !important;
  border-color: #37474f;
  color: #fff;
}
#topnav .toolbar .dropdown-menu.notifications ul li.new,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li.new {
  background-color: #00bcd4;
  background-color: rgba(0, 188, 212, 0.01);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0300bcd4, endColorstr=#0300bcd4)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0300bcd4, endColorstr=#0300bcd4);
}
#topnav .toolbar .dropdown-menu.notifications ul li a,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li a {
  width: 100%;
  height: 100%;
  display: table;
  padding: 16px 40px 16px 64px;
  position: relative;
}
#topnav .toolbar .dropdown-menu.notifications ul li a .notification-icon,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li a .notification-icon {
  position: absolute !important;
  left: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  border-width: 0px;
  border-style: solid;
  position: relative;
  text-align: center;
  border-radius: 50%;
  line-height: 32px;
}
#topnav .toolbar .dropdown-menu.notifications ul li a .notification-content,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li a .notification-content {
  vertical-align: middle;
  display: table-cell;
  height: 32px;
}
#topnav .toolbar .dropdown-menu.notifications ul li a .notification-time,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li a .notification-time {
  display: inline;
  font-size: 11px;
  color: #cfd8dc;
  float: right;
  text-align: right;
  line-height: 16px;
  position: absolute !important;
  right: 16px;
  top: 16px;
}
#topnav .toolbar .dropdown-menu.notifications ul li a:hover .notification-time,
#topnav .toolbar .dropdown-menu .tab-pane.notifications ul li a:hover .notification-time {
  color: #90a4ae;
}
#topnav .toolbar .dropdown-menu.userinfo {
  padding: 8px 0px;
  min-width: 200px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #e0e0e0;
  border-radius: 2px !important;
  background: #fff !important;
}
#topnav .toolbar .dropdown-menu.userinfo li.divider {
  border-bottom: #eeeeee !important;
}
#topnav .toolbar .dropdown-menu.userinfo li a {
  color: #455a64;
}
#topnav .toolbar .dropdown-menu.userinfo li a i,
#topnav .toolbar .dropdown-menu.userinfo li a span {
  line-height: 20px;
}
#topnav .toolbar .dropdown-menu.userinfo li a i {
  color: #cfd8dc;
  margin-left: 0;
  min-width: 16px;
  text-align: center;
}
#topnav .toolbar .dropdown-menu.userinfo li a span.badge {
  line-height: 16px;
  top: inherit;
  right: 16px;
  margin-top: 2px;
}
#topnav .toolbar .dropdown-menu.userinfo li a:hover {
  background: #fafafa !important;
  color: #263238 !important;
}
#topnav .dropdown-tab-btns {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  padding: 7px 10px;
}
#topnav .btn.pull-left {
  border-right: 1px solid #555;
  margin-right: 10px;
}
#topnav .btn.pull-right {
  border-left: 1px solid #555;
  margin-left: 10px;
}
.nav .badge,
.sidebar nav.widget-body > ul.acc-menu .badge {
  text-align: center;
  text-shadow: none !important;
}
.nav .badge {
  top: 4px;
  right: -4px;
  position: absolute;
}
.sidebar nav.widget-body > ul.acc-menu .badge {
  float: right;
  position: absolute;
  right: 30px;
}
@media (max-width: 767px) {
  .dropdown-menu.notifications {
    margin-right: -80px;
  }
  .dropdown-menu.notifications:before,
  .dropdown-menu.notifications:after {
    margin-right: 80px;
  }
  nav.navbar .open .dropdown-menu {
    position: relative;
    float: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  nav.navbar .navbar-header {
    width: auto;
  }
}
#headerbar {
  top: -1000px;
  left: 0;
  position: fixed;
  padding: 20px 10px 0;
  z-index: 9999;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.86);
  -webkit-transition: top .25s ease;
  -o-transition: top .25s ease;
  transition: top .25s ease;
}
#layout-fixed .infobar-wrapper {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  border-left: 0;
  overflow-x: hidden !important;
}
#layout-fixed .sidebar,
#layout-fixed .sidebar-default {
  border-right: 0;
}
.sidebar nav.widget-body > ul.acc-menu {
  white-space: normal;
  margin: 0;
  padding-left: 0 !important;
}
.sidebar nav.widget-body > ul.acc-menu > li:first-child > a {
  border-top: 0;
}
.sidebar nav.widget-body > ul.acc-menu .badge {
  right: 48px !important;
  margin-top: 2px !important;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000);
}
.sidebar nav.widget-body > ul.acc-menu .label {
  float: right;
  position: absolute;
  right: 48px !important;
  margin-top: 2px !important;
}
.sidebar nav.widget-body > ul.acc-menu .divider {
  height: 0px;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.sidebar nav.widget-body > ul.acc-menu a {
  text-decoration: none;
}
.sidebar nav.widget-body > ul.acc-menu ul {
  padding: 8px 0;
  padding-left: 0 !important;
  list-style: none;
}
.sidebar nav.widget-body > ul.acc-menu ul,
.sidebar nav.widget-body > ul.acc-menu ul li a {
  border-top: none;
  box-shadow: none;
}
.sidebar nav.widget-body > ul.acc-menu li,
.sidebar nav.widget-body > ul.acc-menu li a {
  white-space: nowrap;
}
.sidebar nav.widget-body > ul.acc-menu li a {
  display: block;
  padding: 14px 24px;
  position: relative;
  font-family: 'Open Sans Regular';
}
.sidebar nav.widget-body > ul.acc-menu > li > a > i {
  margin-left: 0px;
  margin-right: 16px;
  min-width: 16px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
}
.sidebar nav.widget-body > ul.acc-menu ul li a {
  padding: 6px 24px 6px 56px;
  font-family: 'Open Sans Regular';
}
.sidebar nav.widget-body > ul.acc-menu li.active > a {
  font-family: 'Open Sans Semibold' !important;
}
.sidebar nav.widget-body > ul.acc-menu ul li.active:not(.open) > a {
  font-family: 'Open Sans Semibold' !important;
}
.sidebar nav.widget-body > ul.acc-menu li ul {
  display: none;
}
.sidebar nav.widget-body > ul.acc-menu ul ul {
  padding: 0;
}
.sidebar nav.widget-body > ul.acc-menu li li li a {
  padding-left: 72px;
}
.sidebar nav.widget-body > ul.acc-menu ul ul ul li a {
  padding-left: 88px;
}
.sidebar nav.widget-body > ul.acc-menu ul ul ul ul li a {
  padding-left: 104px;
}
.sidebar nav.widget-body > ul.acc-menu li.disabled-link a {
  cursor: not-allowed;
  font-style: italic;
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a {
  position: relative;
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a:before {
  opacity: 0.25;
  filter: alpha(opacity=25);
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a:before {
  content: "\f105";
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild.open > a:before {
  content: "\f107";
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a:before,
.sidebar nav.widget-body > ul.acc-menu li.hasChild.open > a:before,
.sidebar nav.widget-body > ul.acc-menu li.hasChild.open > a:before {
  font-family: FontAwesome;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-size: 13px;
  padding-right: 0px;
  min-width: 16px;
  float: right;
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild li.hasChild a:before {
  top: 4px;
}
body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu > li.hasChild > a:before {
  content: "";
}
body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu > li.hasChild:hover > a:before {
  content: "\f107";
  opacity: 0.25;
  filter: alpha(opacity=25);
}
body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu li.hasChild:hover > a:before {
  content: "\f107";
}
.sidebar-collapsed .hasChild > ul.acc-menu {
  display: none !important;
}
.sidebar-collapsed .hasChild:hover > ul.acc-menu {
  display: block !important;
}
.sidebar .widget .widget-heading,
.nav-separator {
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #353535;
  color: #e0e0e0;
  display: block;
  font-family: 'Open Sans Semibold';
  margin-top: 8px;
  padding: 8px 12px;
}
.sidebar .widget .widget-heading:empty,
.nav-separator:empty {
  font-size: 0;
  padding: 4px 0px;
}
.sidebar .widget .widget-body {
  color: #e0e0e0;
  background: #424242;
}
.sidebar .widget .widget-body.with-padding {
  padding: 20px;
}
.sidebar .widget .widget-body h1,
.sidebar .widget .widget-body h2,
.sidebar .widget .widget-body h3,
.sidebar .widget .widget-body h4,
.sidebar .widget .widget-body h5,
.sidebar .widget .widget-body h6 {
  color: #fff;
}
.sidebar .widget .widget-body label {
  color: #fff;
}
.sidebar .widget .widget-body #currentbalance,
.sidebar .widget .widget-body #salesvolume {
  margin-top: 25px;
}
.sidebar .widget .widget-block {
  color: #e0e0e0;
  border-bottom: 1px solid #2e2e2e;
  padding: 24px;
}
.sidebar .widget .widget-block h5 {
  font-family: 'Open Sans Regular';
  color: #e0e0e0;
  margin: 0 0 2px 0;
}
.sidebar .widget .widget-block .big {
  font-size: 20px;
}
.sidebar .widget .widget-block .big .badge {
  position: relative;
  top: -3px;
  left: 3px;
}
.sidebar .widget .widget-block:last-child {
  border-bottom: none;
}
.sidebar .welcome-box {
  padding: 24px;
  margin: 0 !important;
}
.sidebar .welcome-box .welcome-avatar {
  width: 56px;
}
.sidebar .welcome-box .welcome-avatar img,
.sidebar .welcome-box .welcome-avatar a {
  display: block;
}
.sidebar .welcome-box .welcome-options {
  margin-left: 48px;
}
.sidebar .welcome-box .welcome-options .name,
.sidebar .welcome-box .welcome-options .welcome-text {
  display: block;
}
.sidebar .welcome-box .welcome-options .name:hover,
.sidebar .welcome-box .welcome-options .welcome-text:hover {
  text-decoration: none;
}
.sidebar .welcome-box .welcome-options .name {
  font-family: 'Open Sans Regular';
  font-size: 18px;
}
.sidebar .welcome-box .welcome-options .welcome-text {
  font-size: 11px;
}
.sidebar .welcome-box .welcome-edit {
  width: 20px;
  text-align: right;
  vertical-align: top !important;
}
.sidebar .welcome-box .welcome-edit .btn-link {
  padding: 0;
  border: none;
  vertical-align: top;
  min-width: 0;
  color: rgba(255, 255, 255, 0.3) !important;
}
.sidebar .welcome-box .welcome-edit .btn-link:hover {
  color: #fff !important;
  text-decoration: none;
}
@media (min-width: 768px) {
  body.sidebar-collapsed .sidebar .welcome-box {
    padding: 24px 4px;
  }
  body.sidebar-collapsed .sidebar .welcome-box .tabular-cell:not(.welcome-avatar) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  body.sidebar-collapsed .sidebar .widget:not(.stay-on-collapse) {
    display: none !important;
  }
  body.sidebar-collapsed .sidebar .widget.stay-on-collapse .widget-heading,
  body.sidebar-collapsed .sidebar .widget.stay-on-collapse .nav-separator {
    font-size: 0;
    padding: 4px 0;
    width: 48px !important;
  }
  body.sidebar-collapsed .static-sidebar-wrapper,
  body.sidebar-collapsed .static-sidebar-wrapper > div {
    white-space: nowrap;
    width: 48px;
    overflow: visible;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu ul {
    border-bottom-right-radius: 0;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li {
    white-space: nowrap;
    position: relative;
    border-radius: 0;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li > a {
    border-radius: 0;
    padding: 14px 16px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.hasChild {
    border-radius: 0;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.hasChild > a {
    border-radius: 0;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li span.badge {
    right: inherit !important;
    left: 24px;
    top: 8px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li span.label {
    display: none;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li i {
    margin-right: 16px;
    margin-left: 0px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover {
    width: 248px;
    z-index: 1512;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover span.label {
    display: inline;
    right: 40px !important;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul {
    display: block;
    position: absolute;
    left: 48px;
    width: 200px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li > a {
    padding-left: 16px;
    padding-right: 16px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li li > a {
    padding-left: 32px;
    padding-right: 16px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li li li > a {
    padding-left: 48px;
    padding-right: 16px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li li li li > a {
    padding-left: 64px;
    padding-right: 16px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.active > ul {
    display: none !important;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.active:hover > ul {
    display: block !important;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:first-child:hover {
    border-bottom-right-radius: 0;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:hover > a {
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(0, 0, 0, 0.05), 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:hover {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li.hasChild:hover > a {
    border-bottom-right-radius: 0;
  }
  body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li > ul {
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 1px;
  }
}
@media screen and (max-width: 768px) {
  .static-sidebar-wrapper {
    -webkit-transition: width 0ms ease-out;
    -o-transition: width 0ms ease-out;
    transition: width 0ms ease-out;
  }
  .static-content-wrapper {
    overflow: hidden;
  }
  body.sidebar-collapsed .static-sidebar-wrapper {
    width: 0px;
  }
}
.static-content-wrapper {
  background: #eeeeee;
}
.sidebar-scroll .static-sidebar {
  position: fixed !important;
  top: 50px;
  bottom: 0px;
}
@media (max-width: 767px) {
  .static-sidebar {
    position: fixed !important;
    top: 50px;
    bottom: 0px;
    overflow-y: auto;
  }
}
.navbar {
  position: relative;
  min-height: 48px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 16px;
  padding-left: 16px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -16px;
  margin-left: -16px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1200;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1200;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 20px;
  height: 48px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -16px;
  }
}
.navbar-nav {
  margin: 7px -16px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 11px;
  margin-bottom: 11px;
}
.navbar-btn.btn-xs {
  margin-top: 13px;
  margin-bottom: 13px;
}
.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -16px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.panel {
  margin: 0 0 24px 0;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
}
.panel .panel-heading {
  padding: 0px 16px 0px 16px;
  line-height: 46px;
}
.panel .panel-heading h2 {
  color: #607d8b;
  height: 100%;
  width: auto;
  float: left;
  font-size: 13px;
  font-family: 'Open Sans Semibold';
  padding: 13px 0 13px;
  position: relative;
  margin: 0;
  line-height: 20px;
}
.panel .panel-heading h2 i {
  margin-right: 4px;
}
ul .panel .panel-heading h2 {
  padding: 0 !important;
}
.panel .panel-heading .panel-ctrls {
  width: auto;
  float: right;
  padding: 0;
  margin: 0;
}
.panel .panel-heading .panel-ctrls .button-icon {
  float: right;
  position: relative;
  margin: 11px 0px 11px 2px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
.panel .panel-heading .panel-ctrls .button-icon:hover {
  text-decoration: none;
}
.panel .panel-heading .panel-ctrls .button-icon:first-child {
  margin-right: 0;
}
.panel .panel-heading .panel-ctrls .button-icon.btn {
  margin: 11px 0px 11px 2px;
}
.panel .panel-heading .panel-ctrls .button-icon.custom-icon {
  float: left;
}
.panel .panel-heading .panel-ctrls.button-icon-bg .has-bg {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.08);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000);
  border-radius: 2px;
}
.panel .panel-heading .panel-ctrls.button-icon-bg .has-bg:hover {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.16);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#29000000, endColorstr=#29000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#29000000, endColorstr=#29000000);
}
.panel .panel-heading .panel-loader {
  width: 14px;
  height: 14px;
  margin: 17px 0px 0px 0px;
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
.panel .panel-heading:empty {
  border-width: 0;
  height: 0px;
}
.panel .panel-heading .nav > li > a:hover,
.panel .panel-heading .nav > li > a:focus {
  background: none;
}
.panel.panel-default .panel-heading:empty {
  border-width: 1px 1px 0px 1px;
  height: 3px;
  background: #fff;
}
.panel .collapsed .panel-heading {
  border-radius: 2px;
}
.panel .panel-body {
  width: 100%;
  position: relative;
  font-size: 13px;
  padding: 24px;
}
.panel .panel-body.panel-no-padding,
.panel .panel-body.no-padding {
  padding: 0px;
}
.panel .panel-body.panel-no-padding > table,
.panel .panel-body.no-padding > table {
  margin: 0;
}
.panel .panel-body.panel-no-padding .alert,
.panel .panel-body.no-padding .alert {
  margin: 24px !important;
}
.panel .panel-body.panel-no-padding .panel-footer,
.panel .panel-body.no-padding .panel-footer {
  margin: 0;
  padding: 10px;
}
.panel .panel-body.panel-no-padding .tabe-responsive .table-bordered,
.panel .panel-body.no-padding .tabe-responsive .table-bordered,
.panel .panel-body.panel-no-padding .table-bordered,
.panel .panel-body.no-padding .table-bordered,
.panel .panel-body.panel-no-padding .tabe-responsive .panel .fc-content table,
.panel .panel-body.no-padding .tabe-responsive .panel .fc-content table,
.panel .panel-body.panel-no-padding .panel .fc-content table,
.panel .panel-body.no-padding .panel .fc-content table {
  -webkit-box-shadow: 0 0 0 0 #dde3e5;
  box-shadow: 0 0 0 0 #dde3e5;
  border-radius: 0;
  border-style: none;
}
.panel .panel-body.panel-no-padding .tabe-responsive .table-bordered tfoot > tr:last-child > th,
.panel .panel-body.no-padding .tabe-responsive .table-bordered tfoot > tr:last-child > th,
.panel .panel-body.panel-no-padding .table-bordered tfoot > tr:last-child > th,
.panel .panel-body.no-padding .table-bordered tfoot > tr:last-child > th,
.panel .panel-body.panel-no-padding .tabe-responsive .panel .fc-content table tfoot > tr:last-child > th,
.panel .panel-body.no-padding .tabe-responsive .panel .fc-content table tfoot > tr:last-child > th,
.panel .panel-body.panel-no-padding .panel .fc-content table tfoot > tr:last-child > th,
.panel .panel-body.no-padding .panel .fc-content table tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel .panel-body.panel-no-padding .tabe-responsive .table-bordered tfoot > tr:last-child > th:last-child,
.panel .panel-body.no-padding .tabe-responsive .table-bordered tfoot > tr:last-child > th:last-child,
.panel .panel-body.panel-no-padding .table-bordered tfoot > tr:last-child > th:last-child,
.panel .panel-body.no-padding .table-bordered tfoot > tr:last-child > th:last-child,
.panel .panel-body.panel-no-padding .tabe-responsive .panel .fc-content table tfoot > tr:last-child > th:last-child,
.panel .panel-body.no-padding .tabe-responsive .panel .fc-content table tfoot > tr:last-child > th:last-child,
.panel .panel-body.panel-no-padding .panel .fc-content table tfoot > tr:last-child > th:last-child,
.panel .panel-body.no-padding .panel .fc-content table tfoot > tr:last-child > th:last-child {
  border-right: 0;
}