.panel .panel-scroll::-webkit-scrollbar {
    width: 6px;
}
.panel .panel-scroll::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 0;
}
.panel .panel-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #c4c4c4;
}
.panel .panel-scroll::-webkit-scrollbar-track {
    background-color: #ededed;
}
.panel .panel-body {
    border-radius: 0;
}
.panel .panel-heading {
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}
.panel .panel-heading + .panel-body {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-heading i.separator {
    height: 24px;
    width: 1px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.08);
    margin: 8px 16px -8px;
}
.panel-heading > i.separator {
    float: right;
    margin: 8px 16px;
}
.panel {
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.panel .panel-heading {
    color: #607d8b;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}
.panel .panel-heading .panel-ctrls-center {
    margin: 7px 0;
}
.panel-footer {
    background-color: #fafafa;
}
.panel-body .panel-footer {
    margin: 0 -24px -24px;
    padding: 24px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top: 0;
}
textarea {
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    border-top: 1px solid #dbdbdb;
    padding: 6px 10px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.01) !important;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.01) !important;
}
textarea:focus {
    border: 1px solid #03a9f4;
    background: #fff;
    box-shadow: 0 0px 1px 0px #c5ecfe !important;
}
.tt-hint:-ms-input-placeholder {
    color: #90a4ae;
}
.tt-hint::-webkit-input-placeholder {
    color: #90a4ae;
}
@-webkit-keyframes 'blink' {
    0% {
        border-color: #eeeeee !important;
    }
}
@-moz-keyframes 'blink' {
    0% {
        border-color: #eeeeee !important;
    }
}
@keyframes 'blink' {
    0% {
        border-color: #eeeeee !important;
    }
}
.form-group.has-warning .form-control:-ms-input-placeholder {
    color: #fff5a1;
}
.form-group.has-warning .form-control::-webkit-input-placeholder {
    color: #fff5a1;
}
.form-group.has-error .form-control:-ms-input-placeholder {
    color: #ef787c;
}
.form-group.has-error .form-control::-webkit-input-placeholder {
    color: #ef787c;
}
.form-group.has-success .form-control:-ms-input-placeholder {
    color: #bcdc97;
}
.form-group.has-success .form-control::-webkit-input-placeholder {
    color: #bcdc97;
}
svg {
    font-family: 'Open Sans', 'Droid Sans', Tahoma, Arial, sans-serif !important;
}
.scroll-pane > .scroll-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .scroll-content::-webkit-scrollbar {
    display: block;
}
@media print {
    html {
        height: auto !important;
        overflow: visible !important;
    }
}
.tab-container {
    margin-bottom: 20px;
}
.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    background-color: #ffffff;
}
.tab-container .nav-tabs > li > a {
    border-radius: 0;
    padding: 9px 16px;
}
.tab-container > .nav.nav-tabs {
    margin-bottom: 0;
    border-bottom: 0;
}
.tab-container > .nav.nav-tabs > li > a {
    background-color: #ffffff;
    margin-left: -1px;
    border: 1px solid #e0e0e0;
    color: #455a64;
}
.tab-container > .nav.nav-tabs > li > a:hover {
    background-color: #fbfbfb;
    color: #263238;
}
.tab-container > .nav.nav-tabs > li > a:focus {
    background: #eeeeee;
}
.tab-container > .nav.nav-tabs > li.active > a {
    color: #263238;
    border-bottom: 1px solid #fff;
    background: #fff;
}
.tab-container > .nav.nav-tabs > li.active > a:hover {
    background: #ffffff;
}
.tab-container > .nav.nav-tabs > li.tabdrop + li > a,
.tab-container > .nav.nav-tabs > li:first-child > a {
    border-top-left-radius: 2px;
    margin-left: 0;
}
.tab-container > .nav.nav-tabs > li.tabdrop > a,
.tab-container > .nav.nav-tabs > li:last-child > a {
    border-top-right-radius: 2px;
}
.dd > .dd-list > .dd-item:first-child > .dd-handle,
.dd > .dd-list > .dd-item:first-child > .dd3-content,
.dd > .dd-list > .dd-placeholder:first-child {
    margin-top: 0 !important;
}
.dd .dd-placeholder {
    margin-top: 3px !important;
}
.dd-handle {
    border-radius: 2px !important;
}
.dd-handle,
.dd3-content {
    height: 32px !important;
    margin: 3px 0 0 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #455a64 !important;
    border: 1px solid #e0e0e0 !important;
    background: #fafafa !important;
}
.dd3-handle {
    margin: 0 !important;
    width: 22px !important;
    border-radius: 2px !important;
    border: 1px solid #e0e0e0 !important;
    background: #eeeeee !important;
}
.dd3-handle:before {
    content: '\f142' !important;
    color: #90a4ae !important;
    font-family: 'FontAwesome' !important;
    top: 7px !important;
    font-size: 14px !important;
}
.dd3-content {
    padding-left: 32px !important;
}
.dd-item {
    font-size: 13px !important;
}
.dd-item > button {
    width: 32px !important;
    height: 22px !important;
    margin: 6px 0 !important;
}
.dd-item > button:before {
    -webkit-font-smoothing: antialiased !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 13px !important;
    color: #607d8b;
}
.dd3-item {
    font-size: 13px !important;
}
.dd3-item > button {
    margin-left: 22px !important;
}
.dd-list .dd-list {
    padding-left: 32px !important;
}
.dd-placeholder,
.dd-empty {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 32px !important;
    background: #e0e0e0 !important;
    border: 2px dashed #e0e0e0 !important;
    border-radius: 2px !important;
}
.info-tile {
    margin: 0px 0px 24px;
    display: block;
    border-radius: 2px;
}
a.info-tile {
    margin-bottom: 24px;
}
.info-tile .tile-heading {
    letter-spacing: 2px;
    padding: 8px 12px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.info-tile .tile-body {
    font-size: 30px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 16px;
    line-height: 30px;
    font-weight: 400;
}
.info-tile .tile-body i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.05s ease-in;
    -o-transition: 0.05s ease-in;
    transition: 0.05s ease-in;
}
.info-tile .tile-body > i {
    position: absolute;
    font-size: 30px;
}
.info-tile .tile-body div + small {
    font-size: 13px;
    text-align: center;
    display: block;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}
.info-tile:hover {
    text-decoration: none;
}
.info-tile:hover i {
    color: #fff;
}
.info-tile.tile-danger {
    color: #ffffff !important;
}
.info-tile.tile-danger .tile-heading {
    background: #e51c23;
}
.info-tile.tile-danger .tile-body {
    background: #e51c23;
}
.info-tile.tile-danger:hover {
    color: #ffffff;
}
.info-tile.tile-danger:hover .tile-heading {
    background: #d0181e;
}
.info-tile.tile-danger:hover .tile-body {
    background: #d0181e;
}
.info-tile.tile-inverse {
    color: #ffffff !important;
}
.info-tile.tile-inverse .tile-heading {
    background: #9e9e9e;
}
.info-tile.tile-inverse .tile-body {
    background: #9e9e9e;
}
.info-tile.tile-inverse:hover {
    color: #ffffff;
}
.info-tile.tile-inverse:hover .tile-heading {
    background: #919191;
}
.info-tile.tile-inverse:hover .tile-body {
    background: #919191;
}
.info-tile.tile-purple {
    color: #ffffff !important;
}
.info-tile.tile-purple .tile-heading {
    background: #9c27b0;
}
.info-tile.tile-purple .tile-body {
    background: #9c27b0;
}
.info-tile.tile-purple:hover {
    color: #ffffff;
}
.info-tile.tile-purple:hover .tile-heading {
    background: #89229b;
}
.info-tile.tile-purple:hover .tile-body {
    background: #89229b;
}
.info-tile.tile-brown {
    color: #ffffff !important;
}
.info-tile.tile-brown .tile-heading {
    background: #795548;
}
.info-tile.tile-brown .tile-body {
    background: #795548;
}
.info-tile.tile-brown:hover {
    color: #ffffff;
}
.info-tile.tile-brown:hover .tile-heading {
    background: #694a3e;
}
.info-tile.tile-brown:hover .tile-body {
    background: #694a3e;
}